body {
  background-color: #d1dcec;
  font-size: 15px;
  font-family: Outfit;
  color: black;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

main {
  position: relative;
  display: flex;
  vertical-align: middle;
  min-height: 100vh;
}

.qr-code-block {
  margin: auto;
  max-width: 320px;
  background-color: white;
  border-radius: 18px;
  padding: 18px 18px 30px;
  text-align: center;
}

.qr-code-block img {
  max-width: 100%;
  border-radius: 9px;
}

.qr-code-block figcaption {
  color: #797b87;
  padding: 0 10px;
}

.qr-code-block figcaption h1 {
  color: black;
  margin: 20px 0 15px;
  font-size: 20px;
}
